<p><b>THIS IS THE BASIC INFO PAGE!</b></p>
<p>The website displays a list of the movies showing in the cinema on the main page.</p>
<p>The users of the system are be able to insert, read, update, and delete movie details.</p>
<p><b>When adding or editing movie trailers, please make sure to use the last part of the YouTube link! Example: "pQLb4yBwxvg"</b></p>
