<p><b>MOVIES ARE ADDED TO THE LIST HERE!</b></p>

<div class="wrapper">
    <form action="/create" id="form" method="POST">
        <label for="title"><b>Movie Title:</b></label><br><input type="text" name="title"><br>
        <label for="director"><b>Director:</b></label><br><input type="text" name="director"><br>
        <label for="genre"><b>Genre:</b></label><br><input type="text" name="genre"><br>
        <label for="runtime"><b>Length:</b></label><br><input type="text" name="runtime"><br>
        <label for="year"><b>Released:</b></label><br><input type="text" name="year"><br>
        <label for="trailer"><b>Trailer (End of YouTube Link):</b></label><br><input type="text" name="trailer"><br>
        &nbsp;<br>
        <input type="submit" class="btn btn-outline-danger" value="Create Movie">
    </form>
</div>
