<p><b>MOVIES ARE REMOVED FROM THE LIST HERE!</b></p>

<div class="wrapper">
    <form action="/delete" id="form" method="POST">
        <label for="movieid"><b>Movie ID:</b></label><br><input type="text" name="movieid"><br>
        &nbsp;<br>
        <input type="submit" class="btn btn-outline-danger" value="Delete Movie">
    </form>
</div>
