<p><b>THIS IS THE HELP PAGE WITH NAVIGATIONS AND DESCRIPTIONS!</b></p>
<p>If you would like to view all the movies, please go to <a href="/">index</a> page.</p>
<p>If you would like to learn about this application, please go to <a href="/about">about</a> page.</p>
<p>If you would like to add a movie, please go to <a href="/create">create</a> page.</p>
<p>If you would like to delete a movie, please go to <a href="/delete">delete</a> page.</p>
<p>If you would like to edit a movie, please go to <a href="/edit">edit</a> page.</p>
<p>If you would like to view a single movie, please go to <a href="/view">view</a> page.</p>
