<p><b>THIS IS THE VIEW PAGE WHERE MOVIES ARE VIEWED!</b></p>

<div class="wrapper">
    <form action="/viewed" id="form" method="POST">
        <label for="movieid"><b>Movie ID:</b></label><br><input type="text" name="movieid"><br>
        &nbsp;<br>
        <input type="submit" class="btn btn-outline-danger" value="View Movie">
    </form>
</div>
